---
title: Portfolio
icon: fa-th
order: 2
---

<p>Conheça um pouco do meu trabalho.</p>

<div class="row">
  <div class="portfolioList">
    {% for project_hash in site.data.projects %}
    {% assign project = project_hash[1] %}
    <div class="portfolio item">
      <a 
        href="{{project.link}}" 
        class="image fit thumbnail"
        target="_blank"
      >
        <img src="{{project.thumbnail}}" alt="{{project.title}}" />
      </a>
      <header>
        <h3 class="title"><a href="{{project.link}}" target="_blank">{{project.name}}</a></h3>
        {% if project.client %}
          <p class="subtitle">{{project.client}}</a>
        {% endif %}
      </header>
        <p class="description">{{project.description}}</p>
      <footer>
        {% if project.notice %}
          <small class="notice">*{{project.notice}}</small>
        {% endif %}
      </footer>
    </div>
    {% endfor %}
  </div>
</div>